* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

body {
  padding: 1.5rem;
  position: relative;
}
.n_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h_nav_btn {
  border: none;
  background: none;
}

.h_nav{
    display: none;
}

.main {
  padding-top: 20px;
}

.img_mobile {
  width: 100%;
}

.img_pc {
  display: none;
}

.info_p {
  color: gray;
  margin-bottom: 1.5rem;
}

.info_btn {
  background: rgb(181, 73, 73);
  color: white;
  border: none;
  padding: 0.9rem 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

aside {
  background: hsl(240, 100%, 5%);
  color: white;
  padding: 1.5rem;
  margin-top: 2.5rem;
}

h2 {
  color: rgb(246, 168, 24);
  font-size: 1.8rem;
}

.card {
  margin: 1rem 0;
  gap: 0.7rem;
}
hr {
  background-color: rgba(123, 123, 123, 0.718);
}

.s_2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.card_2 {
  display: flex;
  gap: 1rem;
  img {
    width: 100px;
    object-fit: cover;
  }
  h3 {
    color: hsl(233, 8%, 79%);
  }
  h4 {
    margin: 0.3rem 0;
    font-weight: 800;
  }
  p {
    color: hsl(236, 13%, 42%);
    line-height: 1.5;
  }
}
